<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="NodeJs" stopProcessing="true">
                    <match url="index.js" />
                    <action type="Rewrite" url="index.js" />
                </rule>
                <rule name="StaticContent" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode loggingEnabled="true" logDirectory="iisnode" node_env="production" />
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
